.form {
    padding: 1rem;
}

.im,
.control {
    margin-bottom: 0.5rem;
}

.but {
    position: relative;
    display: flex;
    top: -42px;
    left: 85%;
}

.im input {
    display: flex;
    font: inherit;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    padding: 0.25rem;
    width: 80%;
}

.im label,
.ctrl label,
.control label {
    display: block;
    color: yellow;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.control input,
.control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    padding: 0.25rem;
    width: 100%;
}

.ctrl input {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 30%;
}

.actions {
    margin-top: 1rem;
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}

.actions button:hover,
.actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
}

.genreInput {
    width: 4cm;
    height: 1cm;
    marginBottom: 0.3cm;
    border-width: 3px;
    background-color: white;
    border-color: yellow;
}