.movie {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 16.3cm;
}

.name {
    display: flex;
    position: relative;
    margin-left: 4.2cm;
    margin-top: 30px;
}

.genre {
    display: flex;
    position: relative;
    font-size: x-large;
    color: yellow;
    margin-left: 5cm;
    margin-top: 30px;
}

.buttons {
    margin-right: -4.5cm;
    margin-left: 4.5cm;
    margin-top: -0.4cm;
}

.emptyDot {
    height: 25px;
    width: 25px;
    border: 3px solid #000000;
    border-radius: 50%;
    display: inline-block;
}

.fullDot {
    height: 25px;
    width: 25px;
    background-color: #2c292b;
    border: 3px solid #000000;
    border-radius: 50%;
    display: inline-block;
}

.forward {
    color: yellow;
    font-size: xxx-large;
    position: absolute;
    display: flex;
    right: 6cm;
    bottom: 4cm;
}

.backward {
    color: yellow;
    font-size: xxx-large;
    position: absolute;
    display: flex;
    bottom: 4cm;
    right: 18cm;
}
