.item {
    margin: 1rem 0;
  }

.title {
  color: white;
}
  
  .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    color:white;
    text-align: center;
    padding: 1rem;
  }

  body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Black.png");
    background-color: yellow;
   }
  
  .content h3,
  .content h4{
    font-size: 1.25rem;
    color: yellow;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: yellow;
  }