.item {
    margin: 1rem 0;
  }

.title {
  color: yellow;
}
.rank {
  color: yellow;
}

.director {
  color: yellow;
}

.form {

}
.im label,
.ctrl label,
.control label {
  display: block;
  color: yellow;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.25rem;
  width: 100%;
}

.ctrl input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 40%;
}
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    color:white;
    text-align: center;
    padding: 1rem;
  }

  body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Black.png");
    background-color: yellow;
   }
  
  .content h3,
  .content h4{
    font-size: 1.25rem;
    color: yellow;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: yellow;
  }

.form {
  padding: 1rem;
}


.image {
  position: absolute;
  width: 500px;
  height: 420px;
  display: flex;
  top: 16rem;
  left: 9rem;
  border-radius: 50px;
  margin-bottom: -20%;
  max-height: 200%;
  max-width: 200%;
  overflow: hidden;
}

.heart {
  display: flex;
  position: absolute;
  bottom: -3.7rem;
  right: 35.3rem;
}

.title {
  font-size: 40px;
  color: yellow;
  display: flex;
  position: absolute;
  top: 8rem;
}

.year {
  display: flex;
  position: absolute;
  color: yellow;
  font-size: 25px;
  top: 75%;
  left: 8%;
}

.about {
  width: 40rem;
  margin-top: 9.3%;
  border-radius: 13px;
  color: yellow;
  background-color: #cc2062;
  height: 12rem;
}

.director {
  display: flex;
  position: absolute;
  top: 16.3rem;
  left: 69%;
  width: 30rem;
  border-radius: 13px;
  color: yellow;
  background-color: #cc2062;
  height: 3.4rem;
}

.editDetailsBut {
  display: flex;
  position: absolute;
  right: 45rem;
}

.editDirectorPhotoBut {
  display: flex;
  position: absolute;
  right: 2rem;
}

.actors {
  width: 100%;
  margin-top: 4%;
  border-radius: 13px;
  color: yellow;
  background-color: #cc2062;
  height: 12.5rem;
}

.directorImage {
  display: flex;
  position: absolute;
  border-radius: 40px;
  width: 30.3rem;
  height: 21.4rem;
  top: 4.5rem;
  right: -0.1rem;
  object-fit: cover;
}