.item {
    margin: 1rem 0;
  }

.title {
  color: yellow;
}
.rank {
  color: yellow;
}

.director {
  color: yellow;
}

.form {

}
.im label,
.ctrl label,
.control label {
  display: block;
  color: yellow;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.25rem;
  width: 100%;
}

.ctrl input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 30%;
}
  
  .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    color:white;
    text-align: center;
    padding: 1rem;
  }

  body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/71/Black.png");
    background-color: yellow;
   }
  
  .content h3,
  .content h4{
    font-size: 1.25rem;
    color: yellow;
  }
  
  .actions {
    padding: 1.5rem;
    text-align: center;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: yellow;
  }

.form {
  padding: 1rem;
}


.image {
  width: 500px;
  height: 420px;
  position: absolute;
  display: flex;
  left: 3.4cm;
  bottom: 7.4cm;
  border-radius: 50px;
}

.image{
  max-height: 200%;
  max-width: 200%;
}

.heart {
  display: flex;
  position: absolute;
  bottom: -1.2cm;
  right: 14.8cm;
}

.title {
  font-size: 40px;
  color: yellow;
  display: flex;
  position: absolute;
  top: 3cm;
}

.year {
  display: flex;
  position: absolute;
  color: yellow;
  font-size: 25px;
  top: 19cm;
  left: 4.23cm;
}

.about {
  margin-top: 1.6cm;
  border-radius: 13px;
  color: yellow;
  background-color: #cc2062;
  height: 5cm;
}

.director {
  display: flex;
  position: absolute;
  top: 6.9cm;
  right: 4.2cm;
  width: 13cm;
  border-radius: 13px;
  color: yellow;
  background-color: #cc2062;
  height: 1.4cm;
}

.editDetailsBut {
  display: flex;
  position: absolute;
  right: 19cm;
}

.editDirectorPhotoBut {
  display: flex;
  position: absolute;
  right: 0.6cm;
}

.actors {
  margin-top: 0.7cm;
  border-radius: 13px;
  color: yellow;
  background-color: #cc2062;
  height: 5.35cm;
}

.directorImage {
  display: flex;
  position: absolute;
  border-radius: 40px;
  width: 13cm;
  height: 9cm;
  top: 2cm;
  right: -0.1cm;
}