.list {
    border: 5px solid none;
    margin-left: -9.2cm;
    margin-bottom: 0.3rem;
    width: 1050px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 80px);
    grid-gap: 40px;
    justify-content: center;
}

.movieTitle {
    color: yellow;
    text-decoration: none;
    display: flex;
    position: relative;
    font-size: medium;
    width: 100px;
    bottom: 2rem;
}

.movie {
    max-height: 2cm;
    background-color: #cc2062;
    color: white;
    border-radius: 50px;
    margin-bottom: -2rem;
    display: flex;
}

.forward {
    color: yellow;
    position: absolute;
    display: flex;
    right: 1.5cm;
    bottom: 6cm;
    cursor: pointer;
}

.backward {
    color: yellow;
    position: absolute;
    display: flex;
    bottom: 6cm;
    right: 4cm;
    cursor: pointer;
}