.list {
    border: 5px solid none;
    margin-left: 0cm;
    margin-bottom: 4rem;
    width: 580px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-gap: 60px;
    justify-content: center;
}

.actorName {
    color: yellow;
    text-decoration: none;
    display: flex;
    position: center;
    font-size: medium;
    width: 150px;
    right: 1rem;
    bottom: 3rem;
}

.movie {
    max-height: 2cm;
    background-color: #cc2062;
    color: white;
    border-radius: 50px;
    margin-bottom: -2rem;
    display: flex;
}

.forward {
    color: yellow;
    position: absolute;
    display: flex;
    right: -2rem;
    bottom: 13rem;
    cursor: pointer;
}

.backward {
    color: yellow;
    position: absolute;
    display: flex;
    bottom: 13rem;
    right: 4.5rem;
    cursor: pointer;
}

.outOf {
    position: absolute;
    display: flex;
    font-size: x-large;
    right: 1rem;
    bottom: 13rem;
}

.image {
    border-radius: 50px;
    position: relative;
    display: flex;
    width: 6rem;
    height: 6rem;
    top: -0.5rem;
}