.movie {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 130%;
}

.name {
    display: flex;
    position: relative;
    margin-left: 4.2cm;
    margin-top: 30px;
}

.fav {
    color: white;
    position: absolute;
    display: flex;
    right: 27.6cm;
}

.list {
    border: 5px solid none;
    margin-left: -10cm;
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 600px);
    grid-gap: 100px;
    justify-content: center;
}
