.image {
    position: relative;
    display: flex;
    height: 25rem;
    overflow: hidden;
    border-radius: 200px;
    max-height: 40%;
    max-width: 60%;
    top: -5.5rem;
    left: -25rem;
}

.changeProfile {
    position: relative;
    display: flex;
    color: yellow;
    font-size: x-large;
    bottom: 8.5rem;
    left: -6.5rem;
}

.mainCard {
    position: absolute;
    display: flex;
    left: 46.3rem;
    bottom: 26rem;
    border-radius: 20px;
    width: 65rem;
    height: 21rem;
}

.pined {
    position: relative;
    display: flex;
    left: 3rem;
    bottom: 5.7rem;
    border-radius: 20px;
    width: 31rem;
    height: 15rem;
}

.Achievements {
    position: absolute;
    display: flex;
    right: 15.2rem;
    bottom: 9.5rem;
    border-radius: 20px;
    width: 32.5rem;
    height: 15rem;
}

.contribMov {
    position: relative;
    display: flex;
    left: 3rem;
    bottom: 4.5rem;
    border-radius: 20px;
    width: 65rem;
    height: 17rem;
}

.contribDirec {
    position: relative;
    display: flex;
    left: 3rem;
    bottom: 3rem;
    border-radius: 20px;
    width: 65rem;
    height: 17rem;
}

.contribRev {
    position: relative;
    display: flex;
    left: 3rem;
    bottom: 1rem;
    border-radius: 20px;
    width: 65rem;
    height: 17rem;
}

.desc {
    position: absolute;
    display: flex;
    top: 4rem;
    left: 2rem;
    font-weight: bold;
}

.fav {
    position: absolute;
    display: flex;
    top: 6.5rem;
    left: 2rem;
    font-weight: bold;
}

.birth {
    position: absolute;
    display: flex;
    top: 9rem;
    left: 2rem;
    font-weight: bold;
}

.contact {
    position: absolute;
    display: flex;
    top: 11.5rem;
    left: 2rem;
    font-weight: bold;
}

.name {
    position: absolute;
    display: flex;
    bottom: 30%;
    left: 16.9%;
    color: yellow;
    font-size: xxx-large;
}

.nick {
    position: absolute;
    display: flex;
    font-size: x-large;
    color: yellow;
    bottom: 28%;
    left: 16.9%;
}

.edit {
    background-color: #2c292b;
    display: flex;
    position: absolute;
    bottom: 25%;
    left: 16.9%;
    color: white;
}

.editBut {
    display: flex;
    width: 17rem;
}

.followIcon {
    display: flex;
    position: absolute;
    font-size: x-large;
    color: yellow;
    bottom: 20%;
    left: 16.9%;
}

.dot {
    display: flex;
    position: absolute;
    color: yellow;
    bottom: 19.8%;
    left: 23.3%;
}

.followers {
    display: flex;
    position: absolute;
    font-size: large;
    color: yellow;
    left: 19%;
    bottom: 19.8%;
}

.follows {
    display: flex;
    position: absolute;
    font-size: large;
    color: yellow;
    left: 25.3%;
    bottom: 19.8%;
}

.location {
    display: flex;
    position: absolute;
    color: yellow;
    bottom: 16%;
    left: 16.9%;
}

.country {
    display: flex;
    position: absolute;
    color: yellow;
    bottom: 16%;
    font-size: large;
    left: 19%;
}

.editDetailsBut {
    color: black;
    position: absolute;
    display: flex;
    left: 61rem;
    bottom: 17.5rem;
}

.editDetails {
    display: flex;
}