html,body {

    height: 100%;
    background: url("https://xbox-store-checker.com/assets/upload/game/2019/02/optimize/9wzdncrfj3tj-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainTitle {
    font-size: xxx-large;
    color: white;
}

.secondTitle {
    font-size: xx-large;
    color : white;
}

.thirdTitle {
    font-size: xx-large;
    color : white;
    position: relative;
    width: 20cm;
    display: flex;
    right: 12cm;
}

.Title {
    position: relative;
    width: 20cm;
    display: flex;
    right: 12cm;
}

.actions {
    margin-top: 1rem;
    text-align: right;

}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 1rem 2.5rem;
    border: 1px solid #77002e;
    border-radius: 60px;
    font-weight: bold;
    position: relative;
    width: 4cm;
    display: flex;
    right: 12cm;

}

.actions button:hover,
.actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
}

.or {
    position: relative;
    width: 20cm;
    display: flex;
    right: 7cm;
    bottom: 1.7cm;
    color: white;
}