html,body {

    height: 100%;
    background: url("https://xbox-store-checker.com/assets/upload/game/2019/02/optimize/9wzdncrfj3tj-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mainTitle {
    font-size: xxx-large;
    color: white;
}

.secondTitle {
    font-size: xx-large;
    color : white;
}

.thirdTitle {
    font-size: xx-large;
    color : white;
    position: relative;
    width: 100%;
    display: flex;
    right: 70%;
}

.Title {
    position: relative;
    width: 120%;
    display: flex;
    right: 70%;
}

.actions {
    margin-top: 1rem;
    text-align: right;

}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 1rem 2.5rem;
    border: 1px solid #77002e;
    border-radius: 60px;
    font-weight: bold;
    position: relative;
    width: 23%;
    display: flex;
    right: 70%;

}

.actions button:hover,
.actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
}

.or {
    position: relative;
    display: flex;
    right: 40%;
    bottom: 4rem;
    color: white;
}

.fresh {
    display: flex;
    position: absolute;
    top: 18%;
    right: 11%;
    width: 25%;
    border-radius: 20px;
    color: white;
    background-color: #cc2062;
    height: 6%;
}