.rev {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 21.3cm;
}

.item {
    top: 1cm;
    border-radius: 12px;
    display: flex;
    position: relative;
    right: 1.5cm;
    margin-top: 0.3cm;
    width: 20cm;
}

.text {
    font-size: large;
}

.rank {
    position: absolute;
    display: flex;
    right: -1.2cm;
    bottom: 2.4cm;

}

.topic {
    font-size: x-large;
}

.thumb{
    position: absolute;
    display: flex;
    left: 15cm;
    font-size: x-large;
    top: 0cm;
    color: #fcb8d2;
}

.comment{
    position: absolute;
    display: flex;
    left: 11.6cm;
    font-size: x-large;
    top: 0.1cm;
    color: #fcb8d2;
}

.badgeLikes {
    display: flex;
    position: absolute;
    background-color: #fcb8d2;
    color: red;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin-left: 0.5rem;
    top: 3.08cm;
    left: 18.3cm;
}


.badgeComments {
    display: flex;
    position: absolute;
    background-color: #fcb8d2;
    color: red;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin-left: 0.5rem;
    top: 3.08cm;
    left: 16.5cm;
}