.rev {
    background-color: #cc2062;
    color: white;
    border-radius: 12px 12px 0 0 ;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 21.3cm;
}

.item {
    top: -1cm;
    border-radius: 12px;
    position: relative;
    right: 2.5cm;
    width: 21cm;
    margin-bottom: -3cm;
}

.text {
    font-size: large;
}

.rank {
    position: absolute;
    display: flex;
    right: -1.5cm;
    top: 0.1cm;
}

.topic {
    font-size: x-large;
}

.thumb{
    position: absolute;
    display: flex;
    left: 6.7cm;
    font-size: x-large;
    top: -0.03cm;
    color: #fcb8d2;
}

.comment{
    position: absolute;
    display: flex;
    left: 6cm;
    font-size: x-large;
    top: 0.05cm;
    color: #fcb8d2;
}

.badgeLikes {
    display: flex;
    position: absolute;
    background-color: #fcb8d2;
    color: red;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin-left: 0.5rem;
    top: 0.5cm;
    left: 19cm;
}


.badgeComments {
    display: flex;
    position: absolute;
    background-color: #fcb8d2;
    color: red;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin-left: 0.5rem;
    top: 0.5cm;
    left: 16.38cm;
}

.showComments {
    display: flex;
    position: relative;
    margin-top: -0.4cm;
    left: 5.9cm;
    top: 0.6cm;
}

.msg {
    display: flex;
    position: absolute;
    z-index: 999999;
    color: darkred;
    margin-top: -1.2cm;
    background-color: snow;
    border-radius: 20px;
    width: 8cm;
    height: 0.3cm;
    margin-left: 9cm;

}

.close {
    position: relative;
    left: 1cm;
    bottom: 0.14cm;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}

.control input,
.control textarea {
    display: flex;
    position: relative;
    font: inherit;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.87);
    padding: 0.25rem;
    width: 200%;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.control {
    margin-bottom: 0.5rem;
}

.im label,
.ctrl label,
.control label {
    display: block;
    color: yellow;
    font-weight: bold;
    margin-bottom: 0.5rem;
}