.rev {
    background-color: #cc2062;
    color: white;
    border-radius: 12px 12px 0 0 ;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 21.3cm;
}

.item {
    top: -0.8cm;
    border-radius: 12px;
    display: flex;
    position: relative;
    right: 1.5cm;
    width: 40cm;
}

.text {
    font-size: large;
}

.rank {
    position: absolute;
    display: flex;
    right: -1.5cm;
    bottom: 2cm;

}

.topic {
    font-size: x-large;
}

.thumb{
    position: absolute;
    display: flex;
    left: 7cm;
    font-size: x-large;
    top: -0.03cm;
    color: #fcb8d2;
}

.comment{
    position: absolute;
    display: flex;
    left: 6cm;
    font-size: x-large;
    top: 0.05cm;
    color: #fcb8d2;
}

.badgeLikes {
    display: flex;
    position: absolute;
    background-color: #fcb8d2;
    color: red;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin-left: 0.5rem;
    top: 0.5cm;
    left: 18.3cm;
}


.badgeComments {
    display: flex;
    position: absolute;
    background-color: #fcb8d2;
    color: red;
    border-radius: 10px;
    padding: 0 0.4rem;
    margin-left: 0.5rem;
    top: 0.5cm;
    left: 15.88cm;
}

.showComments {
    display: flex;
    position: relative;
    margin-top: -0.4cm;
    left: 5.9cm;
    top: 0.6cm;
}

.msg {
    display: flex;
    position: absolute;
    z-index: 999999;
    color: darkred;
    margin-top: -1.2cm;
    background-color: snow;
    border-radius: 20px;
    width: 8cm;
    height: 0.3cm;
    margin-left: 9cm;

}

.close {
    position: relative;
    left: 1cm;
    bottom: 0.14cm;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
}