.list {
    border: 5px solid none;
    margin-left: -14cm;
    width: 1700px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 440px);
    grid-gap: 70px;
    justify-content: center;
  }

.movie {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 16.3cm;
}

.name {
    display: flex;
    position: relative;
    margin-left: 4.2cm;
    margin-top: 30px;
}

.fav {
    color: white;
    position: absolute;
    display: flex;
    right: 27.6cm;
}

.movieTitle {
    color: yellow;
    text-decoration: none;
    display: flex;
    position: relative;
    width: 230px;
}