.director {
    background-color: #cc2062;
    color: white;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 0.5rem;
    margin-bottom: 1.4rem;
    display: flex;
    width: 16.3cm;
}

.name {
    display: flex;
    position: relative;
    margin-left: 4.2cm;
    margin-top: 30px;
}

.moviesTitle {
    display: flex;
    position: relative;
    left: 4.3cm;
    font-size: xx-large;
    font-weight: bolder;
    color: yellow;
    margin-bottom: 0.5rem;
}

.card {
    right: 20cm;
}

.image {
    position: absolute;
    width: 12cm;
    display: flex;
    z-index: 10;
    right: 51%;
    bottom: 27%;
    border-radius: 50%;
}

