.searchInput {
    display: flex;
    position: absolute;
    top: 0.9cm;
}

.search input {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    left: 11.5cm;
    width: 400px;
    border: 3px solid #000000;

}

.searchIcon {
    display: flex;
    position: absolute;
    height: 36px;
    width: 40px;
    left: 22.05cm;
    background-color: white;
    place-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid #000000;

}


input:focus {
    outline: none;
}

.searchIcon svg {
    font-size: 35px;
}

.dataResult {
    position: absolute;
    border: 3px solid #000000;
    border-radius: 15px;
    left: 11.5cm;
    bottom: 18.33cm;
    margin-top: 5px;
    width: 432px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}

.dataResult::-webkit-scrollbar {
    display: none;
    position: relative;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    position: relative;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
    display: flex;
    position: relative;
}
Link {
    text-decoration: none;
}
Link:hover {
    background-color: lightgrey;
}

#clearBtn {
    cursor: pointer;
}

.by{
    position: relative;
    display: flex;
    bottom: 1.03cm;
    left: 127.5%;
}

.loggedSearchInput {
    display: flex;
    position: absolute;
    top: 0.9cm;
}

.loggedSearch input {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    left: 11.5cm;
    width: 532px;
    border: 3px solid #000000;

}

.loggedSearchIcon {
    display: flex;
    position: absolute;
    height: 36px;
    width: 40px;
    left: 25.55cm;
    background-color: white;
    place-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid #000000;

}


.loggedDataResult {
    position: absolute;
    border: 3px solid #000000;
    border-radius: 15px;
    left: 11.5cm;
    bottom: 18.33cm;
    margin-top: 5px;
    width: 568px;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
}

