.form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .ctrl label,
  .tr label,
  .control label {
    display: block;
    font-weight: bold;
    color: yellow;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }

  .tr input{
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%
  }
  
  .actions {
    margin-top: 1rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #77002e;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #77002e;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #a50e48;
    border-color: #a50e48;
  }

.im,
.control {
  margin-bottom: 0.5rem;
}

.but {
  position: relative;
  display: flex;
  top: -1.2cm;
  left: 85%;
  width: 0.25cm;

}

.im input {
  display: flex;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.25rem;
  width: 80%;
}

.im label,
.ctrl label,
.control label {
  display: block;
  color: yellow;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input,
.control textarea {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.25rem;
  width: 100%;
}

.ctrl input {
  display: block;
  font: inherit;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 30%;
}

